body {
	font-family: Arial, sans-serif;
	background-color:"grey";

	margin: 0;
	padding: 0;
}

header {
	background-color: #333;
	color: white;
	padding: 20px;
}

header h1 {
	margin: 0;
}

main {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

form {
	display: flex;
	flex-direction: column;
}

.form-group {
	margin-bottom: 20px;
}

label {
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
}

input[type="text"],
input[type="Father name"],
input[type="Email"],
input[type="Mobile number"],
input[type="Date of Birth"],
input[type="Location"]{
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
}

input[type="submit"] {
	background-color: #333;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: #555;
}
